In [1]:
import numpy as np
from PIL import Image
import pandas as pd
#640 * 480

In [39]:
frame = pd.read_csv('test.csv',header=None)

                                                   0     1     2      3      4
0                                                NaN   NaN   NaN    NaN    NaN
1  147437508529811470139727518-Roadster-Navy-Hood...  -1.0  -1.0  640.0  480.0
2                   147771707740120161028_153434.png  17.5  37.0  411.0  386.0
3                          1480513991329IMG_0475.png  52.5  25.5  467.0  219.0
4             JPEG_20160820_112743_1000875312594.png  -9.0 -13.0  140.0  440.0

In [35]:
frame.columns =[0,1,2,3,4]
frame.head()
frame.to_csv('test1.csv',index=None)

In [15]:
frame[0][10]

'72.png'

In [15]:
file = open('new.txt','w')
j = 200000
for i in range(1000):
    s = frame[0][i]
    im = Image.open('simages/'+s)
    out = im.transpose(Image.FLIP_LEFT_RIGHT)
    x1 = -1 * frame[1][i] 
    x2 = frame[2][i]
    y1 = frame[3][i]
    y2 = frame[4][i]
    file.write(str(j)+".png," +str(x1)+","+str(x2)+","+str(y1)+","+str(y2)+"\n" )
    out.save("simages/"+str(j)+".png" ,"png")
    j = j + 1
    out = im.transpose(Image.FLIP_TOP_BOTTOM)
    x1 = frame[1][i] 
    x2 = -1 * frame[2][i]
    y1 = frame[3][i]
    y2 = frame[4][i]
    file.write(str(j)+".png," +str(x1)+","+str(x2)+","+str(y1)+","+str(y2)+"\n" )
    out.save("simages/"+str(j)+".png" ,"png")
    j = j + 1
    out = im.transpose(Image.FLIP_LEFT_RIGHT).transpose(Image.FLIP_TOP_BOTTOM)
    x1 = -1 * frame[1][i] 
    x2 = -1 * frame[2][i]
    y1 = frame[3][i]
    y2 = frame[4][i]
    file.write(str(j)+".png," +str(x1)+","+str(x2)+","+str(y1)+","+str(y2)+"\n" )
    out.save("simages/"+str(j)+".png" ,"png")
    j = j + 1

In [17]:
file.close()

In [ ]:
#here I copy pasted content of txt file at the bottom of train.csv